# Dependencias de Node.js
node_modules/

# Dependencias de PHP o Composer (si las usas)
vendor/

# Archivos de configuración o entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y caché
*.log
cache/
tmp/

# Archivos de Gulp generados
dist/
